html{
    height: 100%;
    width: 100%;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body, h3, h4, p{
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    background: url(../assets/03.jpg) no-repeat;
    background-size: 100% 100%;
}
.log-container .mint-field-core{
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.log-container .mint-cell-wrapper{
    background-size: 120% 0;
    padding: 0;
}
.log-container .mint-field .mint-cell-title{
    width: 80px;
}